<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">コメント（<%= @comments.count %>）</h2>
  <% if admin_signed_in? %>
    <div class="ml-auto p-2 m-1"><%= link_to "全削除", destroy_all_admin_comments_path, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "無効コメントを全て削除します。\r\n本当に削除しますか？" } %></div>
  <% end %>
</div>

<%= render "admin/comments/list", comments: @comments %>