<div class="text-center">
  <h1 class="font-weight-bold my-5">あ　ば　う　と</h1>
  <p>ボドゲ好きの皆々様、よをこそおいで下さいました。</p>
  <p>こちらでわ、皆々様が</p>
  <p>...</p>
  <p>真面目にしろ？</p>
  <p>...</p>
  <p>改めてボドゲ好きの皆々様。</p>
  <p>あるいはボドゲに興味のある方々。</p>
  <p>このサイトにお越しいただきありがとうございます。</p>
  <p>当サイトは、</p>
  <p>「ボドゲが好きだけどそういった場が分からない」</p>
  <p>「ボドゲをやりたいけど人が集まらない」</p>
  <p>「なんでも良いから予定が合うボドゲ会に参加したい」</p>
  <p>そのような時に使っていただければ幸いです。</p>
  <p>"Let's enjoy!!"</p>
</div>