<div class="text-center">
  <h1 class="font-weight-bold py-5">よ　を　こ　そ</h1>
  <p>ボドゲ好きの皆々様</p>
  <p>是非、サイトをご覧になっておゆきくださいな</p>  
</div>

<div class="btn-wrapper col-lg-3 col-md-4 col-6 mx-auto py-5">
  <div class="row">
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>
  <div class="row">
    <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
  </div>
  <div class="row">
    <%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
  </div>
</div>