<% if users.present? %>
  <div class="card-list-container row no-gutters mx-sm-auto">
    <% users.each do |user| %>
      <div class="col-lg-1 col-md-2 col-sm-4 col-6 px-1 py-3">
        <% if admin_signed_in? %>
          <%= link_to admin_user_path(user.id) do %>
            <%= render "layouts/users/thumbnail", user: user %>
          <% end %>
        <% elsif user_signed_in? %>
          <%= link_to user_path(user.id) do %>
            <%= render "layouts/users/thumbnail", user: user %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div>ユーザーはいません</div>
<% end %>
