<h2 class="heading col-lg-8 col-md-6">管理者トップページ</h2>

<div class="text-center py-5">
  <p>ここは管理者用トップページです。</p>
  <p>意図しない操作でこのページに遷移した時は、</p>
  <p>誤動作している可能性があります。</p>
  <p>その場合は開発者までお問い合わせください。</p>
</div>