@use '~bootstrap/scss/bootstrap';

.cover-image {
  object-fit: cover;
}

.heading::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin: 8px auto 0 0;
  background-color: #EC715F;
}

.orverflow-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td {
  vertical-align: middle;
}

.table th, .table td {
  padding: 0.5rem;
}

.table tr:last-child td {
  border-bottom: solid 1px #dee2e6;
}

td p {
  margin: 0;
}

.height-90 {
  height: 90px;
}

.card {
  position: relative;
}

.left-top {
  position: absolute;
  top: 2%;
  left: 2%;
}

.nav-link {
  transition: .3s;
}

.nav-link:hover {
  background-color: #212529;
  letter-spacing: .1rem;
}

.on-favorite {
  color: #FFD43B;
}

.off-favorite {
  color: #c8c8c8;
}

.on-follow {
  color: #ff8787;
}

.off-follow {
  color: #c8c8c8;
}
