@use '~bootstrap/scss/bootstrap';

.cover-image {
  object-fit: cover;
}

.heading::after {
  content: "";
  display: block;
  width: 80%;
  height: 3px;
  margin: 8px auto 0 0;
  background-color: #EC715F;
}

.table td {
  vertical-align: middle;
}

td p {
  margin: 0;
}

.card a {
  text-decoration: none;
}