<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">グループ（<%= groups.present? ? groups.total_count : 0 %>）</h2>
  <% if admin_signed_in? %>
    <div class="ml-auto p-2 m-1"><%= link_to "全削除", destroy_all_admin_groups_path, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "退会済ユーザーを全て削除します。\r\n本当に削除しますか？" } %></div>
  <% elsif user_signed_in? %>
    <div class="ml-auto p-2 m-1">
      <%= link_to "グループ作成", new_group_path, class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</div>

<div class="col">
  <%= render "layouts/groups/list", groups: groups %>
</div>