<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">
    <%= User.find(params[:id]).name %> さんのフォロワー（<%= @users.present? ? @users.total_count : 0 %>）
  </h2>
</div>

<%= render "layouts/users/list", users: @users %>