<h2 class="heading">ユーザー</h2>

<div class="card-list-container row no-gutters mx-sm-auto">
  <% @users.each do |user| %>
    <% if user.is_active %>
      <div class="col-lg-2 col-md-4 px-1 py-3">
        <%= link_to user_path(user.id) do %>
          <div class="card shadow-lg rounde">
            <div class="bg-light p-2">
              <%= image_tag user.get_user_image(100, 100),size: "100x100", class: "d-block bg-white mx-auto rounded-circle border border-dark icon-image", alt: "ユーザーアイコン" %>
            </div>
            <div class="p-2 text-center"><%= user.name %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
