<div class="d-flex align-items-center">
  <h2 class="heading col-lg-8 col-md-6">マイページ</h2>
  <div class="ml-auto p-2 m-1">
    <%= link_to "編集", edit_user_path, class:"btn btn-sm btn-info m-1" %>
    <%= link_to "退会", unsubcribe_path, class: "btn btn-sm btn-danger m-1" %>
  </div>
</div>

<div class="row no-gutters py-4">
  <%= render "layouts/users/info", user: current_user %>

  <div class="col-md-8 pl-4">
    <p>各種情報</p>
  </div>
</div>