<h2 class="heading col-lg-8 col-md-6">退会確認画面</h2>

<div class="text-center py-5">
  <p>退会すると、会員登録情報や</p>
  <p>イベント参加情報などが閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>
</div>

<div class="d-flex justify-content-around col-md-5 col-sm-10 mx-auto py-5">
  <%= link_to "退会しない", user_path(current_user.id), class: "btn btn-primary col-5" %>
  <%= link_to "退会する", withdraw_users_path, method: :patch, data: { confirm: '本当に退会しますか？' }, class: "btn btn-danger col-5" %>
</div>