<header>
  <nav class="navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="/"><div>ぼとみぃと</div></a>
        <% if admin_signed_in? %>
<%
=begin %>
          <div class="bg-light ml-auto px-2">検索ボックス予定</div>
<%
=end %>
        <% end %>
        <% if user_signed_in? %>
          <div class="mx-auto text-light">よをこそ <%= current_user.name %> さん</div>
<%
=begin %>
          <div class="bg-light px-2">検索ボックス予定</div>
<%
=end %>
        <% end %>
      </div>

      <div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto w-100">
            <% if admin_signed_in? %>
              <%= render 'layouts/admin_menu' %>
            <% elsif user_signed_in? %>
              <%= render 'layouts/user_menu' %>
            <% else %>
              <%= render 'layouts/default_menu' %>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </nav>
</header>