<li class="col p-0">
  <%= link_to user_path(current_user.id), class: 'nav-link text-light text-center' do %>
    <i class="fas fa-id-card"></i> マイページ
  <% end %>
</li>
<li class="col p-0">
  <%=  link_to users_path, class: 'nav-link text-light text-center' do %>
    <i class="fas fa-users"></i> ユーザー
  <% end %>
</li>
<li class="col p-0">
  <%=  link_to events_path ,class: 'nav-link text-light text-center' do %>
    <i class="fas fa-dice"></i> イベント
  <% end %>
</li>
<li class="col p-0">
  <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light text-center' do %>
    <i class="fas fa-sign-out-alt"></i> ログアウト
  <% end %>
</li>